<div class="container">
    <div class="row">
        <div class="title-allpage">
            <h1 class="mt-4">All Product</h1>
            <a href="/allproduct/trash/all-trash-product" class="icon-trash-back">
                <i class="fa-solid fa-trash"></i>({{deletedCount}})
            </a>
        </div>
    </div>
</div>



<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">price</th>
            <th scope="col">image</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
                {{#if (eq this.image "")}}
                <img src="/img/noimg.jpg" alt="" style="width: 100px;height:100px">
                {{else}}
                <img src="/img-product/{{this.image}}" alt="" >
                {{/if}}
            </td>
            <td>
                <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
                    data-id="{{this._id}}">
                    <i class="fa-solid fa-trash"></i> delete
                </a>
                <a href="/product/{{this._id}}/edit-product" class="btn btn-warning"><i
                        class="fa-solid fa-pen-to-square"></i>
                    edit</a>

            </td>
        </tr>
        {{else}}
        <p>Bạn chưa đăng page nào <a href="/product/add-product" class="">Post Product</a></p>
        {{/each}}
    </tbody>
</table>

{{!------- Form Delete Comfirm --------}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Khóa học ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có thật sự muốn xóa khóa học này không ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-course-form" method="POST"></form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var pageId;
        var deleteForm = document.forms['delete-course-form'];
        var containerFormBtn = document.forms['container-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $("input[name='courseIds[]']");
        var checkAllBtn = $(".btn-submit-checkall");



        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            pageId = button.data('id');
        })

        btnDeleteCourse.addEventListener('click', function () {
            deleteForm.action = '/product/' + pageId + '?_method=DELETE';
            deleteForm.submit();
        });



        //when checkbox all is checked
        checkboxAll.change(function () {
            var isChecked = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isChecked);
            renderChCheckAllSubmitBtn();
        })


        //course item checkbox change
        courseItemCheckbox.change(function () {
            var isCheckAll = courseItemCheckbox.length === $("input[name='courseIds[]']:checked").length;
            checkboxAll.prop('checked', isCheckAll);
            renderChCheckAllSubmitBtn();
        })


        //
        function renderChCheckAllSubmitBtn() {
            var checkedCount = $("input[name='courseIds[]']:checked").length;
            if (checkedCount) {
                checkAllBtn.removeClass('disabled');
            } else {
                checkAllBtn.addClass('disabled');
            }
        }

    });
</script>